
# Virtual environment
venv/
.env/

# Database
*.db
*.sqlite3
*.lst

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# test files
test*.py